@chabset "utf-8";
/* CSS Document */
body {
	background: url(../images/Background.png) no-repeat fixed center center;
}

div.CanvasContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
}