
.x3dom-nox3d {
    position: absolute;
    top: 240px;
    left: 140px;
}

.ar {
    background-color: wheat;
    width: 640px;
    height: 480px;
    border: 1px solid #000;
}

.state {
    margin-top: 10px;
    margin-bottom: 10px;
}

#status {
    font-size: x-large;
}

#btns {
    font-size: large;
}

#slider {
    margin: 10px;
    width: 620px;
}

.left {
    margin-left: 10px;
    z-index: 1;
}

#trackerCanvas {
    position: absolute;
    top: 8px;
    left: 680px;
    border: 1px solid red;
}

#debugCanvas {
    position: absolute;
    top: 248px;
    left: 680px;
    border: 1px solid red;
}

#container {
    position: absolute;
    top: 8px;
}
