.idea
_site
.DS_Store
./src/x3dom.js
./src/version.js
*.tmproj
*.bak
*.pyc
version.js
dist
test/qunit
tools/config/Data
doc/api
*~backup~
example/x3dom.css
example/x3dom.js
*~
doc/guide/build
#*#

# remove with new build system
src/version.js
src/x3dom.js
