.idea
_site
.DS_Store
./src/x3dom.js
./src/version.js
*.tmproj
*.bak
*.pyc
*.db
version.js
dist
test/qunit
tools/config/Data
*~backup~
example/x3dom.css
example/x3dom.js
*~
#*#
nbproject
src/.vscode

# remove with new build system
src/version.js
src/x3dom.js
