SetEnv no-gzip

RewriteEngine on
# Make sure the browser supports gzip encoding before we send it
RewriteCond %{HTTP:Accept-Encoding} \b(x-)?gzip\b
RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule ^(.+) $1.gz [L]

<FilesMatch \.(bin|bin\+4|bin\+8|bin\+16)\.gz$>
    ForceType text/html
    Header set Content-Encoding gzip
</FilesMatch>