html, body, iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Arial";
}


.controldiv {
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    /*width: 40%;*/
}
.viewdiv {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
}

#webVisFrame {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#list {
    position: absolute;
    width: 100%;
    z-index: 9;
    bottom: 15px;
}

.listItem {
    margin: 5px 15px;
    float: left;
    font-size: 12px;
    line-height: 12px;
}

input[type=radio] {
    margin:5px;
    display: none;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 2px 12px;
    background-color: #efefef;
    opacity: 0.7;
    border-color: #ddd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label {
    opacity: 1.0;
    background-image: none;
    background-color: #000;
    color: #fff;
}

ul {
    list-style-position: inside;
    padding-left: 15px;
}


.cmHighlight{
    background-color: lightgreen;
}

.unloaded{
    background-color: grey;
}
.unloaded .viewbutton{display: none;}
.unloaded .hidebutton{display: none;}
.unloaded .deletebutton{display: none;}


.transcoding{
    background-color: blue;
}
.transcoding .loadbutton{display: none;}
.transcoding .viewbutton{display: none;}
.transcoding .hidebutton{display: none;}
.transcoding .deletebutton{display: none;}

.loading{
    background-color: yellow;
}
.loading .loadbutton{display: none;}
.loading .viewbutton{display: none;}
.loading .hidebutton{display: none;}
.loading .deletebutton{display: none;}

.error{
    background-color: red;
}
.error .loadbutton{display: none;}
.error .viewbutton{display: none;}
.error .hidebutton{display: none;}



.loaded{
    background-color: green;
}
.loaded .loadbutton{display: none;}
.loaded .viewbutton{display: none;}

.invisible{
    color: grey;
}
.invisible .loadbutton{display: none;}
.invisible .hidebutton{display: none;}

.highlight{
    background-color: lightgreen;
}