# Turn on the rewrite engine
RewriteEngine on

# Make sure the browser supports gzip encoding before we send it
RewriteCond %{HTTP:Accept-Encoding} \b(x-)?gzip\b
RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule ^(.+) $1.gz [L]

# without it, Content-Type will be "application/x-gzip"
# also add a content-encoding header to tell the browser to decompress
<FilesMatch \.bin\.gz$>
    ForceType text/plain
    Header set Content-Encoding gzip
</FilesMatch>
