div.annotation {
	position:absolute;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-family: Verdana;
	font-size: 15px;
	color: white;
	background-color: rgba(255, 255, 255, 0.6);
}

div.tweet {
	position: absolute;
	width: 54px;
	height: 54px;
	top: 90px;
	margin: 0px 0px 0px 0px;
	background-color: #9AE4E8;
	opacity: 0.8;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
}

div.tweetcontent {
	position: absolute;
	width: 235px;
	height: 100px;
	top: 0px;
	border: 3px solid #9AE4E8;
	background-color: white;
	color: black;
	padding: 0px 3px 3px 90px;
	font-size: 12px;
}

img.tweetarrow {
	position: absolute;
	left: 15px;
	top: 54px;
}

img.tweeticon {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 48px;
	height: 48px;
}

h1 {
	font-size: 14px;
	line-height: 25%;
	color: #9AE4E8;
	font-weight: bold;
}

h2 {
	font-size: 10px;
	line-height: 0%;
	color: grey;
}