body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

p.exampletext {
	width: 400px;
	line-height: 16px;
}

.x3dom-canvas {
    position: relative;
    border: 1px solid #000;
    margin: 0 1em 1em 0;
    float: left;
    cursor: pointer;
}

.x3dom-canvasdiv {
    position: relative;
    float: left;
}

.x3dom-statdiv {
    margin: 0;
    padding: 0;
    right: 10px;
    top: 10px;
    position: absolute;
    color: #0f0;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    width: 75px;
    height: 70px;
    float: right;
}

.x3dom-nox3d {
    font-family: Helvetica, sans-serif;
    background-color: #eb7a7a;
    padding: 1em;
    opacity: 0.75;
}

.x3dom-nox3d p { 
    color: #fff;
    margin-top: 0; 
}

.x3dom-nox3d a { 
    color: #fff;
}