/* X3DOM exmaples stylesheet. Andi */
body {
    font-size: 16px;
    font-family: "Hoefler Text", "Georgia", serif;
    background-color: #fff;
    line-height: 1.6em;
		margin:0;
		padding:0;
}

html.index { 
    background-color:#aaa;
}

html.index body {
  max-width: 52em;
  margin: 0 auto;
  padding: 4em;
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}




/* Genral 
------------------------- */
ul {
    margin:0;
    padding:0;
}
li {list-style:none;}
h1, h2, h3, h4, h5 {
    font-weight:normal;
    color:rgba(0,0,0,0.8);
}
h3 {
    font-family:"Gill Sans", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    margin-top:2.3em;
    border-bottom:3px double #aaa;
}
h4 {
    font-size:.9em;
}
a {
    color:#2D7BB2;
    text-decoration:none;
    padding:5px 2px 2px 2px;
    margin:-5px -2px -2px -2px;
    border-radius:2px;
}
a:hover, a:active, a:focus {
    color:#fff;
    background-color:#2D7BB2;
    
}


/* BADGES
------------------------*/
.new:after {
	content:"NEW";
	color:#fff;
	background-color:red;
	font-size:10px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	padding:3px;
	border-radius:3px;
	margin-left:1em;
}

.updated:after {
	content:"UPDATED";
	color:#fff;
	background-color:#478343;
	font-size:10px;
	font-family:Arial, sans-serif;
	font-weight:bold;
	padding:3px;
	margin:-3px;
	border-radius:3px;
	margin-left:1em;
}


#nav {
	margin:0;
	padding:0 0 0 3em;
	line-height:1em;
	height:30px;
	border-bottom:1px dotted #ccc;
	background-color:#f1f1f1;
}

#nav a {
	position:relative;
	top:7px;
	color:rgba(0,0,0,0.5);
	background-color:transparent;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:10px;
	text-transform:uppercase;
	border-radius:0;
	text-shadow:1px 1px 1px rgba(255,255,255,0.5);
	height:30px;
}

#nav a:before {
	content:"↩ ";
}

#nav a:hover, #nav a:active, #nav a:focus {
	color:#2D7BB2;
}

.content {
	padding:1em 3em 0 3em;
}

#x3dom_logdiv { 
margin-top: 1em; 
margin-left:1em;
min-height:24em; 
border:none!important; 
background-color:rgba(0,0,0,0.9)!important;
border-radius: 6px;
-webkit-box-shadow: 0px 0px 8px #000;

}
#x3dom_logdiv p{
	font-family:Courier, monospace;
	font-size:12px;
	line-height:1em;
}