@import url("/media/cms/css/reset.css");
@import url("/media/cms/css/base.css");
@import url("/media/css/x3d_converter.css");

body {
    background-color: #939393;
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    line-height: 1.45em;
}

h1 {
    display: none;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;    
}

h3 {
    font-size: 1.15em;
    font-weight: bold;
    margin: 1.5em 0 0 0;
    padding: 0;
}

h4 {
    margin: 0;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 0;
    font-size: 11px;
    font-weight: bold;
}

h5 {
    margin-bottom: 1em;
}

p {
    margin: 0.6em 0 0.6em 0;
}

a:link, a:hover, a:visited {
    font-weight:bold;
    color:#555;
    text-decoration:none;
}


a:hover {
    background-color:#ccc;
}

ul, li {
    list-style-position: inside;
    list-style-type: square;
    margin-left: 1em;
}


img { border: none; }
img.frontpage { margin:0; padding:0; }


input { border: 1px solid #000; }
textarea {
    border: 1px solid #000;
    margin-bottom: 1em;
}

pre {
    margin-bottom: 1em;
}
/* General site layout */

#container {
    top: 25px;
    width: 850px;
    margin: auto;
    margin-top: 0px;
    position:relative;
    background-color:#fff;
}

/* The header contains the branding image */

#branding {
    width: 850px;
    height: 111px;
    background: #939393 url(../images/header2.gif) no-repeat top left;
}

#branding a {
    display: block;
    width: 850px;
    height: 90px;
    background: none;
}

body.labs #branding {
    background: #939393 url(../uploads/header_labs.jpg) no-repeat top left;
}

body.ware #branding {
    background: #939393 url(../images/header_instantware.gif) no-repeat top left;
}


#language {
    color: #fff;
    float: right;
    font-size: 10px;
}

#language a:link, #language a:hover, #language a:visited {
    color: #fff;
    text-decoration: none;    
}


#header {
    margin:0;
    padding:0;    
}

.clear {
    clear: both;
}

#navigation {
    position: relative;    
    top: -19px;
    padding-left: 370px;
}

ul.menu_level_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    height: 20px;
}

ul.menu_level_1 li {
    display: inline;
    margin: 0;
    padding: 0;    
}


ul.menu_level_2 {
    position: absolute;
    background-color: #222;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 480px;
    top: 19px;
    left: 0px;
    display: inline;
    padding-left: 370px;
    height:20px;
}
* html ul.menu_level_2 {
    left:-370px;
}

#navigation li.disabled {
    color: #555;    
    padding: 4px 10px 4px 10px;
    font-size: 10px;
    font-weight:normal;
}

#navigation a:link,
#navigation a:visited,
#navigation a:hover {
    margin:0;    
    font-size: 10px;
    color: #eee;
    padding: 2px 10px 4px 10px;
    font-weight:normal;
    height: 21px;
    /*height: 20px;*/    
}

ul.menu_level_2 a { position:relative; top: 1px; }

.menu_level_1 a:hover { background-color: #222; }
.menu_level_1 .nav_current_path { background-color: #222; }

.menu_level_2 a:hover { background-color: #444; }

#navigation a.nav_current,
#navigation a.nav_current_path { font-weight: bold; }
#navigation .labs_link a { background-color: #eeaa22; color: #fff; }

#content {
    background-color: #fff;
    margin-top: 80px;
    padding-bottom: 32px;
}

/*#content_left_column h2, #content_right_column h2, #content_full h2 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: bold;    
    color: #3333ff;
}*/

#content_full {
    margin:0;
    padding:0;
    margin-left: 80px;
    margin-right: 45px;
}

.third_width_column {
    width: 33%;
    float: left;
}

.example_entry {
    list-style-type: none;
    margin-bottom: 2em;
    clear: both;
    margin-top: 0;
    padding: 0;
    height: 1%; /* IE hack */
}

.example_entry div {
    margin-left: 290px;    
}

.example_entry img { 
    float:left;
    margin-bottom:2em;
    margin-left:0px;
    margin-right:8px;
}

#content_left_column {
    float: left;
    width: 270px;
    margin:0;
    padding:0;
    margin-left: 80px;
    display: inline;
}

#content_right_column {   
    border: 0px solid #000;
    margin-left: 370px;
    margin-right: 45px;
}

/* News styles */
.news h1 {
    font-size: 11px;
    font-weight: bold;
    display: inline;
}

.news_date {
    color: #222;
    font-size: 0.7em;
    font-weight: bold;
}

.news p {
    margin-top: 0px;
    color: #222;
}

img.top { margin-top: 7px; }

/* Documentation->Nodetype styles */
#nodetype_container, #nodetype_toc_container,
#nodetype_tree_container, #tutorial_toc_container,
#tutorial_container,
#apidoc_container {
    border:0px solid #f00;
    margin-left: 80px;
    margin-right: 40px;
    margin-top: 18px;
    /*height: 100%;*/
}

.arch-icon {
    display: inline-block;
    text-indent: -4000px;
    height: 16px;
    opacity: 0.5;
    
}
.arch-icon.arch-linux {
    background: url(img/arch_tux_bw.png) no-repeat 0 0;    
    width: 16px;
}
.arch-icon.arch-win32 {
    background: url(img/arch_win_bw.png) no-repeat 0 0;    
    width: 17px;
}
.arch-icon.arch-darwin {
    background: url(img/arch_mac_bw.png) no-repeat 0 -1px;    
    width: 17px;
}

#nodetype_toc_container .nodetype_components_column {
    width: 240px;
    float: left;
}

#nodetype_container ul, #nodetype_toc_container ul,
body.tutorial-list ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nodetype_container ul li, #nodetype_toc_container ul li,
#nodetype_tree_container ul li, body.tutorial-list ul li 
{    
    list-style-type: none;
    
}
#nodetype_container ul li a {
    margin-right: 1em;
    
}


#nodetype_toc_container ul li, #nodetype_tree_container ul li,
body.tutorial-list ul li 
{ margin: 0 }

#nodetype_toc_container table,
#apidoc_container table  {
    margin:0 2em 2em 0em;
    empty-cells:show;
    width: 100%;
        
}

#nodetype_container th, #nodetype_toc_container th,
#apidoc_container th {
    text-align:left;
    font-weight:bold;
    padding: 12px 0px 8px 4px;
}

#nodetype_container tr:hover,
#nodetype_toc_container tr:hover,
#apidoc_container tr:hover {
    background-color: #eee;
}
#nodetype_container tbody > tr:first-child,
#nodetype_toc_container tbody > tr:first-child,
#apidoc_container tbody > tr:first-child {
    background-color: inherit;
}

#nodetype_toc_container td, #nodetype_container td,
#apidoc_container td {
    padding: 1px 4px 1px 4px;
    border-bottom:1px dotted #ddd;
    vertical-align:top;    
}

#nodetype_toc_container td p, #nodetype_container td p,
#apidoc_container td  p {
    padding: 0;
    margin: 0 0 0.5em 0;
}


/* Styles the meta information about a node */
#nodetype_container .metaInfo {
    margin: 0px 0 10px 10px;
    float:right;
    width:250px;
    padding:6px;
    border:1px dotted;
}

#nodetype_container .nodeInterface {
    empty-cells:show;
    margin-bottom:10px;
}

#nodetype_container #panes > ul { display: none; }
#nodetype_container #panes h4 { background-color: #eee; cursor: pointer; }
#nodetype_container #code_container  { margin-left: 1.5em; }

.toggleBtnOpened {
    background: url(../images/arrow-down.gif) no-repeat center left;
    padding-left: 1.5em;
    
}
.toggleBtnClosed {
    background: url(../images/arrow-right.gif) no-repeat center left;
    padding-left: 1.5em;
}

#nodetype_toc_container .nodetype-count {
    text-align: right;
    width: 80px;
}

.stable {
    background-color:#afa;
}

.alpha {
    background-color:#faa;
}

.beta {
    background-color:#ffa;
}

.conformance_extension {
    background-color: #eef;
}

#nodetype_container dt {
    font-weight:bold;
    float: left;
    clear: left;
}

#nodetype_container dd {
    padding:0;
    margin:0;
    margin-left:0.5em;
    float: left;
}

.inheritance-lvl-1 { margin-left: 0px; }
.inheritance-lvl-2 { margin-left: 1em; }
.inheritance-lvl-3 { margin-left: 2em; }
.inheritance-lvl-4 { margin-left: 3em; }
.inheritance-lvl-5 { margin-left: 4em; }
.inheritance-lvl-6 { margin-left: 5em; }
.inheritance-lvl-7 { margin-left: 6em; }
.inheritance-lvl-8 { margin-left: 7em; }
.inheritance-lvl-9 { margin-left: 8em; }
.inheritance-lvl-10 { margin-left: 9em; }
.inheritance-lvl-11 { margin-left: 10em; }
.inheritance-lvl-12 { margin-left: 11em; }
.inheritance-lvl-13 { margin-left: 12em; }
.inheritance-lvl-14 { margin-left: 13em; }
.inheritance-lvl-15 { margin-left: 14em; }

#nodetype_container ul.inheritance-lvl {
    margin: 0 0 1em 1.5em;
}

.nodetype_components_column h4 a {
    color: #000;
}

#nodetype_tree_container ul { margin-left: 20px; }

/* Documentation->Tutorials styles */

.printPage {
    visibility: hidden;
    cursor:pointer;    
    font-weight:bold;
    right: 36px;
    position:absolute;    
    top:186px;
    width: 24px;
    /*padding: 2px 2px 2px 16px;*/
}

#tutorial_container h1 { font-size:135%; margin-top:1.25em; margin-bottom:0.35em; padding:0; }
#tutorial_container h1.title { font-size:180%; margin-top:0.5em; margin-bottom:0.5em; }

/* Reduce top margin for all <p>'s after <h1> and <h2> and
   <h2> after a <h1>
  */
#tutorial_container h1 + p,
#tutorial_container h2 + p,
#tutorial_container h1 + h2 { margin-top:0.35em; }
#tutorial_container h2 { font-size:115%; color:#444; margin-top:1.25em; margin-bottom:0em; }
#tutorial_container ul { list-style-type: square; margin-left: 1.4em; }
#tutorial_container dt { display:inline; font-weight:bold; }
#tutorial_container dd { display:inline; padding:0; margin:0; margin-left:0.5em; }
#tutorial_container img { margin:6px 0px 0px 0px; max-width:728px; }
#tutorial_container hr { border:0px; border-top:1px dotted; }
#tutorial_container table {
    border-collapse: collapse;
    margin: 1em auto;    
}
#tutorial_container tr { border: 1px dashed #aaa; border-left: 1px dashed #aaa; }
#tutorial_container th { font-weight: bold; border-bottom: 1px solid #666; }
#tutorial_container td { border-right: 1px dashed #666; }

#tutorial_container .imgContainer { text-align:center; margin:12px 0px 24px 0px; padding: 12px 0 0 0; border: 1px solid #666; }
#tutorial_container .imgCaption { font-weight:bold; display:block; padding:2px 6px 2px 6px; margin:24px 0px 0px 0px; text-align:center; background-color: #ccc; }
#tutorial_container .description { float:right; width:180px; border:1px dotted #888; margin:-16px 0 10px 10px; padding:6px; }

/* Style for the <code> element @see codeCaption */
#tutorial_container pre { background:#ddd; padding:6px; margin:0em 0 1em 0; overflow: auto; }
* html #tutorial_container pre { width:718px; overflow: auto; }
/* Style for the code caption. Code itself is styled via the <pre> tag */
#tutorial_container div.code h3, 
#tutorial_container .codeCaption { background:#ccc; margin: 0.5em 0 0 0; padding:2px 6px 2px 6px; font-weight:bold; font-size: 1em; }
/* Style for the <warning> element */
#tutorial_container .warning { background:#f88; padding:4px 6px 4px 6px; }



#tutorial_container iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

#tutorial_toc_container .tutorial_category_column {
    width: 240px;
    float: left;
}

.post_free_comment label { display: block; margin-top: 0.5em; }

/* Comments */
.comment.even { background-color: #ddd; }

/* News */
.btnContainer { margin-top: 2em; }
.pageNumbers { text-align: center; }
.pageNumbers a { padding: 0 0.25em 0 0.25em; margin: 0; }
.currentPage { background-color: #555; color: #fff; padding: 0 0.25em 0 0.25em; }


/* ------------------------------------------------------------------------ */
/* Tools */
/* ------------------------------------------------------------------------ */

/* Color converter */
#picked_color {
    float: right;
    width: 10em;
    height: 10em;    
    margin: 4em;
}

/* Interface builder */
body.interface-builder #interface-builder-container {
    border:0 solid #FF0000;
    margin-left:80px;
    margin-right:40px;
    margin-top:18px;
}

body.interface-builder ul {
    margin-left: 0;
}

body.interface-builder li.fieldline {
    margin-left: 0;
    list-style-type: none;
}
body.interface-builder .fieldline input {
    width: 100px;
    margin: 0;    
}

body.interface-builder .fieldline select {
}

body.interface-builder .name-attr {
}

body.interface-builder .access-attr {
}

body.interface-builder .datatype-attr {

}

body.interface-builder .remove-field {

}

body.interface-builder #generated-code {
    width: 100%;
    min-height: 100px;
}

body.orientation-calculator #generated-rot {
    width: 300px;
    display: block;
}




body.mceContentBody { background-color: #fff; }

.info { background-color: #fffd8a; padding: 1em; }

.quiet { color: #aaa; font-weight: normal; }

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
