body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

.x3dom-canvas {
  border:none;
	width:100%;
	height:100%;
}

.x3dom-canvas:focus {
    outline:none; 
}

.x3dom-canvasdiv {
    position: relative;
    border: 1px solid #000;
    margin: 0;
    cursor: pointer;
}

.x3dom-statdiv {
    margin: 0;
    padding: 0;
    right: 10px;
    top: 10px;
    position: absolute;
    color: #0f0;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    width: 75px;
    height: 70px;
    border: 0px;
}

.x3dom-nox3d {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eb7a7a;
    padding: 1em;
    opacity: 0.75;
}

.x3dom-nox3d p { 
    color: #fff;
    font-size: 14px;
}

.x3dom-nox3d a { 
    color: #fff;
    font-size: 14px;
}
