body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

X3D, x3d {
  position:relative;    /* in order to be able to position stat-div within X3D */
  float:left;           /* float the element so it has the same size like the canvas */
  cursor:pointer;
  margin:0;
  border:1px solid #000;
}

.x3dom-canvas {
  border:none;
  cursor:pointer;
  width:100%;
  height:100%;
  float:left;
}

.x3dom-canvas:focus {
    outline:none; 
}

/* REMOVE ME >>>>>>>> */
.x3dom-canvasdiv {
    border:none;
    position: relative;
    border: 1px solid #000;
    margin: 0;
    cursor: pointer;
}
/* <<<<<<<<<<<< */

.x3dom-statdiv {
    margin: 0;
    padding: 0;
    right: 10px;
    top: 10px;
    position: absolute;
    color: #0f0;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    width: 75px;
    height: 70px;
    border: 0px;
}

.x3dom-nox3d {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eb7a7a;
    padding: 1em;
    opacity: 0.75;
}

.x3dom-nox3d p { 
    color: #fff;
    font-size: 14px;
}

.x3dom-nox3d a { 
    color: #fff;
    font-size: 14px;
}
