name: X3DOM CI

on:
  workflow_dispatch:
  pull_request:
    branches: 
      - master

jobs:
  ESLINT:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: npm install
    - run: npm run lint
